/* CSS for Gallery */

.gallery-heading h2{
    color: #222831;
    font-size: 3rem;
    font-weight: 700;

    padding: 6rem 0 3rem 0;
}

.row-gallery .col {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.row-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}