/* 
Primary Color Scheme:
#222831
#393E46
#00ADB5
#EEEEEE
*/

html, body {
    font-family: 'Montserrat', 'sans-serif';
    color: #222831;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #EEEEEE;
}




/* Scrollbar changes */

body::-webkit-scrollbar {
    width: 10px;
    background-color: #222831;
}

body::-webkit-scrollbar-track {
    mix-blend-mode: overlay;
}

body::-webkit-scrollbar-thumb {
    background-color: #393E46;
    border-radius: 10px;
}





/* Navbar properties */

.navbar {
    font-size: 1.3rem;
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, rgba(34, 40, 49, 0.4) 25%, rgba(34, 40, 49, 0.1) 75%, rgba(34, 40, 49, 0) 100%);
}

.navbar .navbar-brand {
    font-size: 1.3rem;
    padding: 1.3rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10rem;
}




/* Main Carousel Properties */

.carousel .carousel-item img {
    object-fit: fill;
    background-repeat: no-repeat;
}

.carousel-size {
    height: 100vh !important;
}











/* About Section */

.row-about {
    display: flex;
    align-items: center;

    margin: 10rem 0;
}

.about-text {
    color: #222831;
    font-weight: 400;
    text-shadow: 5px 5px 3px rgba(0, 173, 181, 0.4);

    margin: 5rem 5rem;
}

.profile-image {
    width: 80%;
    border-radius: 10px;
    box-shadow: 15px 15px 10px 6px rgba(0, 173, 181, 0.4);
}



