/* 
Primary Color Scheme:
#222831
#393E46
#00ADB5
#EEEEEE
*/

html, body {
    font-family: 'Montserrat', 'sans-serif';
    color: #222831;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #EEEEEE;
}




/* Scrollbar changes */

body::-webkit-scrollbar {
    width: 10px;
    background-color: #222831;
}

body::-webkit-scrollbar-track {
    mix-blend-mode: overlay;
}

body::-webkit-scrollbar-thumb {
    background-color: #393E46;
    border-radius: 10px;
}





/* Navbar properties */

.navbar {
    font-size: 1.3rem;
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, rgba(34, 40, 49, 0.5) 0%, rgba(34, 40, 49, 0.3) 40%, rgba(34, 40, 49, 0.15) 60%, rgba(34, 40, 49, 0.05) 80%, rgba(34, 40, 49, 0) 100%);
}

.navbar .navbar-brand {
    font-size: 1.3rem;
    padding: 1.3rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10rem;
}

.navbar ul li a {
    color: #EEEEEE;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    padding: 10px 0 10px 24px;
}

.navbar ul li a:hover {
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 0 0 5px #FFF, 0 0 1.5em #FFF, 0 0 1em #FFF;
}




/* Custom Toggler for Phone Menu */

.custom-toggler {
    /* background-color: #393e4640; */
    border-color: #00acb500;
    color: #EEE;
    border-radius: 7px;
    padding: 12px 24px;
}

.custom-toggler:focus,
.custom-toggler:hover {
    color: transparent;
}



/* Main Carousel Properties */

.carousel .carousel-item img {
    object-fit: fill;
    background-repeat: no-repeat;
}

.carousel-size {
    height: 100vh !important;
}










/* About Section */

.row-about {
    display: flex;
    align-items: center;

    padding: 0 0 6rem 0;
}

.about-text {
    color: #222831;
    font-weight: 400;
    text-shadow: 5px 5px 3px rgba(0, 173, 181, 0.4);

    margin: 5rem 3rem;
}

.profile-image {
    width: 70%;
    border-radius: 10px;
    box-shadow: 15px 15px 10px 6px rgba(0, 173, 181, 0.4);
}

.highlight-word {
    color: #EEEEEE;
    background-color: #222831;
    padding: 0.1rem 0.3rem;
    font-size: 1.1rem;
    border-radius: 4px;
}

.highlight-heading {
    color: #7be9fa;
    background-color: #222831;
    padding: 0.1rem 0.5rem;
    /* font-size: 1.1rem; */
    border-radius: 4px;
}

.bold-word {
    font-size: 1.1rem;
    font-weight: 700;
}

.row a {
    color: #00ADB5;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear
}

.row a:hover {
    color: #9ff2ff;
    text-decoration: none;
    text-shadow: 0 0 5px rgb(190, 246, 255), 0 0 1.5em rgb(148, 241, 255), 0 0 1em rgb(35, 226, 255);
    backdrop-filter: blur(5px);
}

